<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Training</title>
  <link rel="stylesheet" href="../vendor/bootstrap-css/css/bootstrap.css">
  <script src="../vendor/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="AppCtrl as app">
  <div class="container">
    first: <input type="text"
                  ng-model="app.filterText.firstName"
                  ng-model-options="app.inputOptions">
    last: <input type="text" ng-model="app.filterText.lastName" ng-model-options="app.inputOptions">
    company: <input type="text" ng-model="app.filterText.company" ng-model-options="app.inputOptions">
  <table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th ng-click="app.setSortField('firstName')">First Name</th>
        <th ng-click="app.setSortField('lastName')">Last Name</th>
        <th ng-click="app.setSortField('company')">Company</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in app.people | filter: app.filterText | orderBy: app.sortField">
        <td><img src="{{person.picture}}" alt=""></td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.company}}</td>
        <td>{{person.email}}</td>
        <td>{{person.phone}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>