<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Training</title>
  <script src="../vendor/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="AppCtrl as app">

<div>
  <input type="text" ng-model="app.message">
  <button ng-click="app.handleClick(app.message)">Submit</button>
  <h1 >{{ app.submittedMessage }}</h1>
  <h1 ng-if="app.display">{{ app.submittedMessage }}</h1>
  <div ng-hide="app.display">Thank You</div>
  <div ng-show="app.display">Thank You</div>
</div>

</body>
</html>